In [1]:
docs = ['동물원 코끼리',
        '동물원 원숭이 바나나',
        '엄마 코끼리 아기 코끼리',
        '원숭이 바나나 코끼리 바나나']

In [2]:
doc_ls = []
for doc in docs:
  doc_ls.append(doc.split(' '))
doc_ls

# doc_ls = [doc.split() for doc in doc_ls]
# doc_ls

[['동물원', '코끼리'],
 ['동물원', '원숭이', '바나나'],
 ['엄마', '코끼리', '아기', '코끼리'],
 ['원숭이', '바나나', '코끼리', '바나나']]

In [3]:
word = []
for i in doc_ls:
  for j in i:
    if j not in word:
      word.append(j)
word

['동물원', '코끼리', '원숭이', '바나나', '엄마', '아기']

In [4]:
import pandas as pd
word_count = pd.DataFrame(columns = word)
for i in range(1, len(docs) + 1):
  word_count.loc["문서" + str(i)] = 0
for i in range(0, len(doc_ls)):
  for j in doc_ls[i]:
    word_count[j].loc["문서" + str(i + 1)] += 1
word_count

     동물원  코끼리  원숭이  바나나  엄마  아기
문서1    1    1    0    0   0   0
문서2    1    0    1    1   0   0
문서3    0    2    0    0   1   1
문서4    0    1    1    2   0   0

In [5]:
TDM_matrix = []
TDM_matrix.append(list(word_count.loc['문서1']))
TDM_matrix.append(list(word_count.loc['문서2']))
TDM_matrix.append(list(word_count.loc['문서3']))
TDM_matrix.append(list(word_count.loc['문서4']))
TDM_matrix

[[1, 1, 0, 0, 0, 0],
 [1, 0, 1, 1, 0, 0],
 [0, 2, 0, 0, 1, 1],
 [0, 1, 1, 2, 0, 0]]