# BOW 직접 구현

In [1]:
docs = ['오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어',
        '오늘 동물원에서 원숭이에게 사과를 줬어']
# '오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어 오늘 동물원에서 원숭이에게 사과를 줬어'

In [2]:
doc_ls = []
for doc in docs:
  doc_ls.append(doc.split(' '))
doc_ls

[['오늘', '동물원에서', '코끼리', '원숭이를', '보고', '코끼리', '원숭이에게', '먹이를', '줬어'],
 ['오늘', '동물원에서', '원숭이에게', '사과를', '줬어']]

In [3]:
word = [] # doc_ls 나온 단어들을 중복제거하여 하나의 리스트로 정리
for i in doc_ls:
  for j in i:
    if j not in word:
      word.append(j)
word

['오늘', '동물원에서', '코끼리', '원숭이를', '보고', '원숭이에게', '먹이를', '줬어', '사과를']

In [4]:
import pandas as pd
# doc_ls[0]에 대한 단어 갯수
count0 = pd.DataFrame(columns = word)
count0.loc[0] = 0
print(docs[0])
for i in doc_ls[0]:
  count0[i] += 1
count0

오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어

   오늘  동물원에서  코끼리  원숭이를  보고  원숭이에게  먹이를  줬어  사과를
0   1      1    2     1   1      1    1   1    0

In [5]:
# doc_ls[1]에 대한 단어 갯수
count1 = pd.DataFrame(columns = word)
count1.loc[0] = 0
print(docs[1])
for i in doc_ls[1]:
  count1[i] += 1
count1

오늘 동물원에서 원숭이에게 사과를 줬어

   오늘  동물원에서  코끼리  원숭이를  보고  원숭이에게  먹이를  줬어  사과를
0   1      1    0     0   0      1    0   1    1

In [6]:
# 벡터화
vec = list(count1.loc[0])
vec

[1, 1, 0, 0, 0, 1, 0, 1, 1]